<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${applicationName}"></title>
    <link th:replace="layouts :: bootstrap">
    <link th:replace="layouts :: appCss">
</head>
<body>
<div th:replace="layouts :: navbar"></div>

<div class="container">
    <h3>Project List:</h3>
    <hr>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-hover table-bordered border-primary table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Stage</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project:${projects}">
                    <th scope="row" th:text="${project.projectId}">1</th>
                    <td th:text="${project.name}">Mark</td>
                    <td th:text="${project.description}">Otto</td>
                    <td th:text="${project.stage}">@mdo</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-3 text-center " >
                <canvas id="projects" width="50" height="50" style="border:1px solid"></canvas>
            <script>
                let chartData="[[${projectStatus}]]";
                console.log(chartData);
            </script>
        </div>
    </div>

</div>

<div class="container">
    <h3>Employee List:</h3>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <table class="table table-hover table-bordered border-primary table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">#Projects</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee:${employeeProjects}">
                    <th scope="row" th:text="${employee.employeeId}">1</th>
                    <td th:text="${employee.firstName}">Mark</td>
                    <td th:text="${employee.lastName}">Otto</td>
                    <td th:text="${employee.projectCount}">@mdo</td>
                </tr>

                </tbody>
            </table>
        </div>
<!--        <div class="col-md-3">-->
<!--            <canvas id="employees" height="50" width="50"></canvas>-->
<!--        </div>-->
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" th:src="@{/js/mychart.js}"></script>
</body>
</html>