<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link th:replace="layouts :: bootstrap">
    <link th:replace="layouts :: appCss">
</head>
<body>
<div th:replace="layouts :: navbar"></div>
    <div class="container">
        <h3 th:text="${employee.employeeId}"></h3>
        <h3 th:text="${employee.firstName}"></h3>
        <h3 th:text="${employee.lastName}"></h3>
        <h3 th:text="${employee.email}"></h3>
        <h3>Projects:</h3>
        <ul>
            <li th:each="project:${employee.projects}" th:text="${project.name+' -> '+project.stage}"></li>
        </ul>

    </div>
</body>
</html>