<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link th:replace="layouts :: bootstrap">
</head>
<body>
<div th:replace="layouts :: navbar"></div>
<div class="container">
    <form action="/projects/save" method="post" th:object="${project}">
        <input type="text" placeholder="Project Name" th:field="${project.name}">
        <select th:field="${project.stage}">
            <option th:value="NOTSTARTED">Not Started</option>
            <option th:value="INPROGRESS">In progress</option>
            <option th:value="COMPLETED">Completed</option>
        </select>
        <textarea placeholder="Enter Project Description" th:field="${project.description}"></textarea>
        <input type="submit" value="Create Project">
    </form>
</div>
<hr>
<div class="container">
    <h3>Project List:</h3>
    <table class="table table-hover table-bordered border-primary table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project:${projects}">
            <th scope="row" th:text="${project.projectId}">1</th>
            <td th:text="${project.name}">Mark</td>
            <td th:text="${project.description}">Otto</td>
            <td th:text="${project.stage}">@mdo</td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>